@import "./mixins";

.transformación {
    @include transform;
}

.inputedit {
    background-color: white;
    border-style:hidden;
    color: black;
}

.inputedit-foot {
    @extend .inputedit;
    background-color: red;
    border: 4px double darkred;
}