@import "./mixins";
@import "./clases";


main {
    grid-area: main;
    background-image: url(../assets/images/673176AA.jpg);
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    article {
    }
    div{
    }
}