#galerymain {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content:space-around;
}

.galery-images {
    border: 5px solid darkred;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}