
// INDEX

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "courierprime";
    src: url(../assets/fonts/courierprime/CourierPrime-Regular.ttf);
}

#startbody {
    width: 100vw;
    height: 100vh;
    font-family: 'courierprime';
    font-size: 18px;
    color: red;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:"header header header"
                        "main main main"
                        "footer footer footer";
}

@import "./header";
@import "./main";
@import "./footer";

// GALERY

@import "./main-galery";

// CONTACT

#fieldsetedit {
    border-style: none;
    display: grid;
    height: 200px;
}

// RESPONSIVE

@media only screen and (max-width: 1200px) {
    main {
        background-color: black;
    }
}

@media only screen and (max-width: 768px) {
    main {
        background-color: black
    }
    #contactlogo {
        display: flex;
        height: 511px;
        width: 720px;
    }
}

@media only screen and (max-width: 480px) {
    main {
        background-color: rgb(52, 50, 50);
    }
    .galery-images {
        border: none;
        width: 318px;
        height: 205px;
    }
    #contactlogo {
        display: flex;
        height: 341px;
        width: 480px;
    }
}

@media only screen and (max-width: 320px) {
    #startbody {
        display: grid;
        grid-template-rows: 1fr 4fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:"header"
                            "main"
                            "footer";
    } 
    main {
        background-color: rgb(52, 50, 50);
    }
    .galery-images {
        border: none;
        width: 240px;
        height: 170px;
    }
    #contactlogo {
        display: flex;
        height: 170px;
        width: 240px;
    }
}